/* logo and navbar */
.navbar .navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 250%;
    font-weight: 700;
    color: #1AE6AF;
}

.nav-link {
    color: #1AE6AF;
    font-size: 125%;
}

.nav-link:hover {
    color: #FFFFFF;
}

.active {
    color: #1AE6AF !important;
}

/* headings */
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #1AE6AF;
}

h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

/* body  */
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

/* background */
.bg {
    background-color: #000000;
}

/* style footer and social media links */

.social-links i {
    color: #1AE6AF;
    font-size: 200%;
}

.social-links i:hover {
    color: #FFFFFF;
}

.footer-text {
    color:#1AE6AF
}

/* style buttons */

.btn {
    color: #000000;
}

.btn-outline-success:hover {
    background-color: #1AE6AF;
    color: #000000;
    border-color: #1AE6AF;
}

.btn-outline-success {
    color: #1AE6AF;
}

/* style search bar */

.no-outline:focus {
    border: 0;
    box-shadow: none;
}

/* style search results cards */

.card {
    border: none;
}

.card-title {
    color: #1AE6AF !important;
}

/* style account registration and login */

.account-link {
    color: #1AE6AF;
}

.account-link:hover {
    color: #FFFFFF;
}

/* style review cards */

.review .btn-outline-success {
    background-color: #1AE6AF;
    color: #000000;
}

.review .btn-outline-success:hover {
    background-color: #000000;
    color: #1AE6AF;
    border-color: #1AE6AF;
}

.review .card-body {
    background-color: #111111;
}

.review p {
    color: #FFFFFF;
}


/* style edit and delete icons */

.crud-icon > i {
    color: #1AE6AF;
}

.crud-icon > i:hover {
    color: #FFFFFF;
}