/* logo and navbar */
.navbar .navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 250%;
    font-weight: 700;
    color: #1AE6AF;
}

.nav-link {
    color: #1AE6AF;
    font-size: 125%;
}

.nav-link:hover {
    color: #FFFFFF;
}

.active {
    color: #1AE6AF !important;
}

/* style mobile burger menu icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2826, 230, 175, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* headings */
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #1AE6AF;
}

h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

/* body  */
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

/* background */
.bg {
    background-color: #000000;
}

/* style hero image */

.hero-div {
    height: 50vh;
    overflow: hidden;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #111111;
}

/* style footer and social media links */

.social-links i {
    color: #1AE6AF;
    font-size: 200%;
}

.social-links i:hover {
    color: #FFFFFF;
}

.footer-text {
    color:#1AE6AF
}

.tmdb-logo {
    width: 40%;
}

/* style buttons */

.btn {
    color: #000000;
}

.btn-outline-success:hover {
    background-color: #1AE6AF;
    color: #000000;
    border-color: #1AE6AF;
}

.btn-outline-success {
    color: #1AE6AF;
}

/* style search bar */

.no-outline:focus {
    border: 0;
    box-shadow: none;
}

/* style search results cards */

.card {
    border: none;
}

.card-title {
    color: #1AE6AF !important;
}

/* style account registration and login */

.account-link {
    color: #1AE6AF;
}

.account-link:hover {
    color: #FFFFFF;
}

/* style review cards */

.review .btn-outline-success {
    background-color: #1AE6AF;
    color: #000000;
}

.review .btn-outline-success:hover {
    background-color: #000000;
    color: #1AE6AF;
    border-color: #1AE6AF;
}

.review .card-body {
    background-color: #111111;
}

.review p {
    color: #FFFFFF;
}


/* style edit and delete icons */

.crud-icon > i {
    color: #1AE6AF;
}

.crud-icon > i:hover {
    color: #FFFFFF;
}

/* style like btn */

.btn-like {
    background: transparent;
    color: #1AE6AF;
    border: none;
}

/* style rewiew like count */

.review-like {
    color: #1AE6AF
}
