{% extends "base.html" %}

{% block content %}

<div class="container py-4">
    <div class="row">
        <div class="col-md-10">
            <form action="/search/" method="get" class="d-flex pt-lg-5">
                <input class="form-control me-2 no-outline" type="text" placeholder="Find a movie" aria-label="Search" name="q">
                <input class="form-control me-2 no-outline" type="text" hidden aria-label="Search" name="p" value="1">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
  </div>
<div class="px-4 py-5 py-5 text-center">
    <h1>The Big Review</h1>
</div>

{%endblock%}