{% extends "base.html" %}

{% block content %}

<div class="px-4 py-5 py-5 text-center">
    <h1>{{ data.title }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 px-4 pb-4">
            <img src="https://image.tmdb.org/t/p/w500{{ data.poster_path }}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-6 px-4">
            <h3><strong>Movie: </strong>{{ data.title }}</h3>
            <h3><strong>Release Date: </strong>{{ data.release_date }}</h3>
            <h3><strong>Genre:</strong>
                {% for g in data.genres %} 
                    {{ g.name }}
                {% endfor %}
            </h3>
            <h3><strong>Rating: </strong>{{ rating }}</h3>
            <br>
            <h3><strong>Summary:</strong></h3>
            <p>{{ data.overview }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 text-center review">
            <a href="addreview/{{ m.id }}" class="btn btn-outline-success text-center mb-3 w-100">Leave a review +</a>
            <input class="form-control me-2 no-outline" type="text" hidden aria-label="Search" name="p" value="1">
        </div>
    </div>
    <div class="row review">
        <div class="col-md-6 offset-md-3">
            {% for r in reviews %}
            <div class="card mb-3 bg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <p>{{ r.author }} | {{ r.created_on|date:"F j, Y" }}</p>
                        </div>
                        <div class="col-4 text-end">
                            <p>Rating: {{ r.rating }}</p>                            
                        </div>                       
                    </div>
                    <h5 class="card-title">{{ r.title }}</h5>
                    <p class="card-text">{{ r.body }}</p>
                    <div class="row">
                        <div class="col-10">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'review_like' r.id %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" value="dislike" class="btn-like"><i class="fa-solid fa-heart"></i></button>
                                {% else %}
                                <button type="submit" value="like" class="btn-like"><i class="fa-regular fa-heart"></i></button>
                                {% endif %}
                            </form>   
                            {% else %}
                            <span class="btn-like"><i class="fa-regular fa-heart"></i></span> 
                            {% endif %}             
                            {% for key, value in total_likes.items %}        
                                {% if key == r.id %}
                                <span class="review-like">{{ value }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if user.is_authenticated and user == r.author %}
                        <div class="col-1 text-end">
                            <a class="crud-icon" href="edit/{{ m.id }}/{{ r.id }}" aria-label="edit review">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>                      
                        </div>        
                        <div class="col-1 text-end">
                            <a class="crud-icon" href="delete/{{ r.id }}" aria-label="delete review">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>                         
                        </div>    
                        {% endif %}          
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}