{% extends "base.html" %}

{% block content %}

<div class="px-4 py-5 py-5 text-center">
    <h1>{{ data.title }}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 px-4 pb-4">
            <img src="https://image.tmdb.org/t/p/w500{{ data.poster_path }}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-6 px-4">
            <h3><strong>Movie: </strong>{{ data.title }}</h3>
            <h3><strong>Release Date: </strong>{{ data.release_date }}</h3>
            <h3><strong>Genre:</strong>
                {% for g in data.genres %} 
                    {{ g.name }}
                {% endfor %}
            </h3>
            <h3><strong>Rating:</strong></h3>
            <br>
            <h3><strong>Summary:</strong></h3>
            <p>{{ data.overview }}</p>
        </div>
    </div>
</div>

{%endblock%}